# [Formal verification](https://en.wikipedia.org/wiki/Formal_verification)

## Links

- [Why don't people use formal methods? (2019)](https://www.hillelwayne.com/post/why-dont-people-use-formal-methods/) ([HN](https://news.ycombinator.com/item?id=18965274))
- [F\*](https://github.com/FStarLang/FStar) - Verification system for effectful programs.
