# [Formal verification](https://en.wikipedia.org/wiki/Formal_verification)

## Links

- [What, Why, and How of Formal Methods (2019)](https://cloudbootup.com/post/what-why-and-how-of-formal-methods.html)
- [Why don't people use formal methods? (2019)](https://www.hillelwayne.com/post/why-dont-people-use-formal-methods/) ([HN](https://news.ycombinator.com/item?id=18965274))
- [F\*](https://github.com/FStarLang/FStar) - Verification system for effectful programs.
- [HOL Light](https://www.cl.cam.ac.uk/%7Ejrh13/hol-light/) - Computer program to help users prove interesting mathematical theorems completely formally in higher order logic.
- [Verified Software Toolchain](https://github.com/PrincetonUniversity/VST) - Includes static analyzers to check assertions about your program; optimizing compilers to translate your program to machine language.
- [MIT Programming Languages & Verification Group](http://plv.csail.mit.edu/)
