# [Formal verification](https://en.wikipedia.org/wiki/Formal_verification)

## Links

- [What, Why, and How of Formal Methods (2019)](https://cloudbootup.com/post/what-why-and-how-of-formal-methods.html)
- [Why don't people use formal methods? (2019)](https://www.hillelwayne.com/post/why-dont-people-use-formal-methods/) ([HN](https://news.ycombinator.com/item?id=18965274))
- [F\*](https://github.com/FStarLang/FStar) - Verification system for effectful programs.
- [HOL Light](https://www.cl.cam.ac.uk/%7Ejrh13/hol-light/) - Computer program to help users prove interesting mathematical theorems completely formally in higher order logic.
- [Verified Software Toolchain](https://github.com/PrincetonUniversity/VST) - Includes static analyzers to check assertions about your program; optimizing compilers to translate your program to machine language.
- [MIT Programming Languages & Verification Group](http://plv.csail.mit.edu/)
- [Encyclopedia of Proof Systems](https://github.com/ProofSystem/Encyclopedia/blob/master/main.pdf)
- [A Domain-Specific Language for Verifying Software Requirement Constraints](https://arxiv.org/pdf/1911.02679.pdf)
- [Provably Correct Peephole Optimizations with Alive (2019)](https://www.cs.cornell.edu/courses/cs6120/2019fa/blog/alive/)
- [SwiftCSP](https://github.com/davecom/SwiftCSP) - Constraint satisfaction problem solver written in pure Swift.
- [Proof Assistants At the Hardware-Software Interface (2020)](https://www.youtube.com/watch?v=GXXOyXeyKeY)
- [The business case for formal methods (2020)](https://www.hillelwayne.com/post/business-case-formal-methods/) ([Lobsters](https://lobste.rs/s/ywgjhd/business_case_for_formal_methods))
